<p ng-show="!tasks.length">No tasks to show!</p>

<div class="row task lesser-task" ng-repeat="task in tasks | orderBy:'position' | filter:{completed:true}">
    <div class="col-xs-2 position">{{task.position}}</div>
    <div class="col-xs-8">
        <span class="name">{{task.name}}</span>
        <span class="owner"><span class="label label-default">{{task.owner_uid}}</span></span>
        <span class="date"><span class="label label-default">Modified 11:49AM, Sunday</span></span>
    </div>
    <div class="col-xs-2 edit">
        <button type="button" class="btn btn-warning btn-xs">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>
</div>