<button type="button" ng-click="open(new)" class="btn btn-primary add-task"><span class="glyphicon glyphicon-plus"></span> Add Task</button>

<p ng-show="!tasks.length">No tasks to show!</p>

<div class="row task" ng-repeat="task in tasks | orderBy:'position'" ng-class="{'priority-task':task.position<=priority,'lesser-task':task.position>priority}">
    <div class="col-xs-2 position">{{task.position}}</div>
    <div class="col-xs-8">
        <span class="name">{{task.name}}</span>
        <span class="owner"><span class="label label-default">{{task.owner_uid}}</span></span>
        <span class="date"><span class="label label-default">Modified 11:49AM, Sunday</span></span>
    </div>
    <div class="col-xs-2 edit">
        <button type="button" class="btn btn-warning" ng-class="{'btn-xs':task.position>priority}">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>
</div>

<!--<div class="pull-right">
    <button type="button" class="btn btn-primary btn-xs" ng-click="priority = priority + 1">more</button>
    <button type="button" class="btn btn-primary btn-xs" ng-click="priority = priority - 1">less</button>
</div>-->